@use '../../css/queries.scss' as *;

.header {
  padding: var(--base) 0;
  z-index: var(--header-z-index);
  height: 80px;
  inset: 0;
  position: absolute;
  opacity: 0;
  transform: translateY(-80px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.visible {
  transform: translateY(0);
  opacity: 1;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  font-size: medium;

  > * {
    text-decoration: none;
    margin-left: var(--base);
  }

  @include small-break {
    display: none;
    .linkToHide {
      // Hide
      display: none;
    }
  }
}

.logo {
  svg{
    object-fit: contain;
    height: 100%;
  }
  @include extra-small-break {
    height: 25px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  nav {
    flex: 1 1 0%;
  }
  .end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.mobileMenuToggler {
  all: unset;
  cursor: pointer;
  display: none;
  margin-left: 20px;

  // &[aria-expanded="true"] {
  //   transform: rotate(-25deg);
  // }

  @include mid-break {
    display: block;
  }
}

// Scrolled header
.scrollBackground {
  position: fixed;
  background-color: rgba($color: #000000, $alpha: 0.8);
  // Animate entry
  top: -80px;
  transition: transform 0.3s ease-in-out;
  transform: translateY(80px);
  backdrop-filter: blur(12px);
}