@use '../../css/common.scss' as *;

.mobileMenuModal {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  opacity: 1;
  display: none;
  background-color: black;
  color: white;
  padding-top: 5rem;

  @include mid-break {
    display: block;
  }
}

.contentContainer {
  padding: 20px;
}

.mobileMenuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-top: 30px;
  gap: 20px;
}

.menuItem {
  @extend %h4;
  margin-top: 0;
}