@import '../../css/common';

.row {
  display: flex;
  align-items: center;

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.rowHR {
  margin: var(--base) 0;
  background-color: var(--color-base-900);
  opacity: 0.2;
}

.rowContent {
  margin-left: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 3);

  @include small-break {
    margin-left: 0;
  }
}

.placeholder {
  background-color: var(--color-base-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 7;
  width: 100%;
  max-width: 100px;
  background-color: var(--color-base-900);

  @include small-break {
    max-width: unset;
    margin-bottom: calc(var(--base) / 2);
  }
}

.image {
  object-fit: cover;
}

.title {
  margin: 0;
}

.itemsTotal {
  margin-bottom: var(--base);
}

.cartTotal {
  margin-top: var(--base);
  font-weight: 600;
}

.checkoutButton {
  margin-top: var(--base);
}

.quantityInput {
  background-color: var(--color-base-900);
  color: var(--color-base-0);
  border: none;
  padding: 10px;
  width: 70px;
}

.removeButton {
  display: flex;
  align-self: start;
  padding: 0 20px;
}

.price{
  display: flex;
  gap: 4px;
}

.empty {
  padding-top: 24px;

  @include extra-small-break {
    text-align: center;
  }
}