@use '../../css/queries.scss' as *;

$spacer-h: calc(var(--block-padding) / 2);

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--base);
  input {
    background-color: var(--color-base-900);
    border: none;
    color: var(--color-base-0);
  }
}

.hasSubmitted {
  align-items: center;
  justify-content: center;
  height: 80vh;

  @include small-break {
    height: 100%;
  }
}

.intro {
  margin-bottom: var(--base);

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.confirmationMessage {
  max-width: 800px;
  text-align: center;

  * {
    margin: 0;
  }
}

.fieldWrap {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--base) * -0.5);
  margin-right: calc(var(--base) * -0.5);
  width: calc(100% + #{var(--base)});

  >* {
    width: 100%;
  }
}

.Select {
  & label {
    position: absolute;
    top: calc(var(--base) * -0.5);
  }
}

.sidebarContent {
  @include mid-break {
    display: none;
  }
}

.mobileSidebar {
  display: none;

  @include mid-break {
    display: block;
    margin-bottom: calc(var(--base) * 2);
  }
}

.ctaWithImage{
  overflow: hidden;
  column-gap: 0 !important;
}

.content {
  padding-left: $spacer-h;
  padding-right: $spacer-h;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  div {
    margin-bottom: 0;
  }
  label {
    text-align: start;
    margin-bottom: 10px;
  }
}

.imageWrapper {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base-1000);
  color: var(--color-base-0);
  &:hover img {
    transform: scale(var(--scale-factor));
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s ease-in-out;
  }
}

.divider {
  margin-top: calc(var(--base));
  margin-bottom: calc(var(--base)) !important;
  width: 100px;
  height: 1.5px;
  background-color: var(--color-base-300);
}

.submitButton {
  margin-top: var(--base);
}