.input {
  margin-bottom: calc(var(--base) / 2);

  input, textarea {
    width: 100%;
    font-family: system-ui;
    border-radius: 0;
    box-shadow: 0;
    border: 1px solid #d8d8d8;
    height: calc(var(--base) * 2);
    line-height: calc(var(--base) * 2);
    padding: 0 calc(var(--base) / 2);
    background-color: var(--color-base-900);
    border: none;
    color: var(--color-base-0);
  }
  textarea {
    height: calc(var(--base) * 4);
    resize: vertical;
  }
}

.label {
  margin-bottom: 0;
  display: block;
}

.error {
  margin-top: 5px;
  color: red;
}
