@import '../../css/common';

.actions {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.price {
  font-weight: 400;
  margin: 0;
  margin-right: calc(var(--base) / 2);
}
