@import "../../css/common";

.checkoutPage {
  margin-bottom: var(--block-padding);
  h1 {
    font-size: var(--small-title-size);
    text-align: center;
  }
}

.items {
  margin-bottom: var(--base);
}

.row {
  display: flex;
  align-items: center;

  @include small-break {
    flex-direction: column;
    align-items: flex-start;
  }
}

.rowHR {
  margin: var(--base) 0;
  background-color: var(--color-base-900);
  opacity: 0.2;
}

.rowContent {
  margin-left: var(--base);
  display: flex;
  flex-direction: column;
  gap: calc(var(--base) / 3);

  @include small-break {
    margin-left: 0;
  }
}

.placeholder {
  background-color: var(--color-base-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 7;
  width: 100%;
  max-width: 100px;
  background-color: var(--color-base-900);

  @include small-break {
    max-width: unset;
    margin-bottom: calc(var(--base) / 2);
  }
}

.image {
  object-fit: cover;
}

.title {
  margin: 0;
}

.orderTotal {
  margin-top: var(--base);
  font-weight: 600;
}

.price{
  display: flex;
  gap: 4px;
}

.loading,
.error {
  margin-top: calc(var(--block-padding) - var(--base));
}