@use '../../../css/common.scss' as *;

.contentWrapper {
  display: flex;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include mid-break {
    margin-bottom: var(--base);
  }
}

.categories {
  margin-bottom: calc(var(--base) / 1.5);
  background-color: var(--color-base-900);
  padding: 0 12px;
  font-size: small;
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  margin: 0;
  margin-bottom: var(--base);
  text-transform: capitalize;
  font-size: 2.5rem;
  line-height: 1.2;

  @include mid-break {
    margin-bottom: calc(var(--base) / 2);
  }
}

.description {
  margin: 0;
  margin-bottom: var(--base);
  color: var(--color-base-150);
  font-weight: 300;

  @include mid-break {
    margin-bottom: calc(var(--base) / 2);
  }
}

.mediaWrapper {
  text-decoration: none;
  display: block;
  position: relative;
  aspect-ratio: 5 / 7;
  background-color: var(--color-base-900);
  margin-bottom: calc(var(--base) / 2);
  // width: calc(100% + calc(var(--gutter-h) / 2));
  width: 100%;
  background-image: url('/backgrounds/roasted_coffee.jpg');
  background-size: cover;
  background-position: center;

  @include mid-break {
    margin-left: calc(var(--gutter-h) * -1);
    width: calc(100% + var(--gutter-h) * 2);
  }
}

.image {
  object-fit: cover;
}

.placeholder {
  background-color: var(--color-base-50);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addToCartButton {
  margin-top: var(--base);
  background-color: var(--color-base-0);
  color: var(--color-base-900);
  padding: 10px 20px;
  &:hover {
    background-color: var(--color-base-300);
  }
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  inset: 0;
}