.addToCartButton {
  cursor: pointer;
  background-color: transparent;
  padding: 5px 15px;
  border: none;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  color: var(--color-base-0);
  transition: color 0.5s ease, background-color 0.3s ease;
  &:hover {
    color: var(--color-base-1000);
    background-color: var(--color-base-0);
  }
}
