.createAccount {
  margin-bottom: var(--block-padding);
  h1 {
    font-size: var(--small-title-size);
    text-align: center;
  }
}

.form {
  margin-bottom: var(--base);
}

.error {
  color: red;
}
